<h1>Welcome to Note Share!</h1>
<p></p>
<% @universities.each do |university| %>
  <div>
    <h2><%= link_to university.name, university_path(university) %></h2>
    <p><%= university.city %><p>
  </div>
<% end %>


<% if current_user != nil && current_user.admin = true %>
  <%= link_to "Admin Table", admin_users_path %>
<% end %>
